/* CSS goes here! */
body {
    margin: 0;
    padding: 0;
    /* display: flex; */
}
button{
    display: inline;
}

#map {
    width: 80vh;
    height: 80vh;
    margin: auto;
}

img {
    height: 200px;
    width: 220px;
    border-radius: 50px;
}

.is-primary {
    color: #fff;
    background-color: rgb(78, 33, 119) !important;
    width: 100vw;
}

.hero{
    min-width: 100%;
}